Pandas is a newer package built on top of NumPy, and provides an efficient implementation of a DataFrame. DataFrames are essentially multidimensional arrays with attached row and column labels, and often with heterogeneous types and/or missing data.


As we saw, NumPy’s ndarray data structure provides essential features for the type of clean, well-organized data typically seen in numerical computing tasks. While it serves this purpose very well, its limitations become clear when we need more flexibility (attaching labels to data, working with missing data, etc.).

Pandas, and in particular its **Series** and **DataFrame** objects, builds on the NumPy array structure and provides efficient access to these sorts of “data munging” tasks that occupy much of a data scientist’s time.

In [1]:
import numpy as np
import pandas as pd

# Introducing pandas object

Pandas objects can be thought of as enhanced versions of NumPy structured arrays in which the rows and columns are identified with **labels** rather than simple integer indices.

Let’s introduce these three fundamental Pandas data structures: the **Series**, **DataFrame**, and **Index**.

## The pandas Series object
A Pandas Series is a one-dimensional array of indexed data. It can be created from a
list or array as follows:

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

The Series wraps both a sequence of values and a
sequence of indices, which we can access with the **values** and **index** attributes. The
values are simply a familiar NumPy array:

In [3]:
print(data.values, type(data.values))

[0.25 0.5  0.75 1.  ] <class 'numpy.ndarray'>

In [4]:
print(data.index, type(data.index))

RangeIndex(start=0, stop=4, step=1) <class 'pandas.core.indexes.range.RangeIndex'>

The index is an array-like object of type **pd.Index**, which we’ll discuss in more detail
momentarily:

### Series as generalised NumPy array

From what we’ve seen so far, it may look like the Series object is basically interchangeable with a one-dimensional NumPy array.

The essential difference is the presence of the index: while the NumPy array has an **implicitly defined integer index** used to access the values, the Pandas Series has an **explicitly defined index** associated with
the values.

This explicit index definition gives the Series object additional capabilities. For
example, the index **need not be an integer**, but can consist of values of any desired
type. For example, if we wish, we can use strings as an index:

In [5]:
data = pd.Series([0.25, 0.5, 0.75, 1], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [6]:
data['b']

0.5

### Series as specialised dictionary

Just as the type-specific compiled code behind a NumPy array
makes it more efficient than a Python list for certain operations, the type information
of a Pandas Series makes it much more efficient than Python dictionaries for certain
operations.

In [7]:
population_dict = {
    'California': 38332521,
    'Texas': 26448193,
    'New York': 19651127,
    'Florida': 19552860,
    'Illinois': 12882135
}
population = pd.Series(population_dict).sort_index()
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

Unlike a dictionary, though, the Series also supports array-style operations such as
slicing:

In [8]:
population['California':'Illinois']

California    38332521
Florida       19552860
Illinois      12882135
dtype: int64

### Constructing Series objects
**pd.Series(data, index=index)**

1. Data can be a list of **NumPy array**

In [9]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

Data can be a scalar, which is repeated to fill the specified index:

In [10]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

2. Data can be a **dictionary**

In [11]:
pd.Series({ 2: 'a', 1: 'b', 3: 'c' }).sort_index()

1    b
2    a
3    c
dtype: object

The index can be explicitly set if a different result is preferred:

In [12]:
pd.Series({ 2: 'a', 1: 'b', 3: 'c' }, index=[3, 2])

3    c
2    a
dtype: object

## The pandas DataFrame objects
Like the Series object discussed in the previous section, the DataFrame can be thought of either as a **generalization** of a NumPy array, or as a **specialization** of a Python dictionary. We’ll now
take a look at each of these perspectives.

### DataFrame as generalised NumPy array
If a Series is an analog of a one-dimensional array with flexible indices, a DataFrame
is an analog of a two-dimensional array with both **flexible row indices** and **flexible column names**

Just as you might think of a two-dimensional array as an ordered sequence of aligned one-dimensional columns, you can think of a DataFrame as a sequence of aligned Series objects. Here, by “aligned” we mean that they share the **same index**.

In [13]:
area_dict = {
    'California': 423967,
    'Texas': 695662,
    'New York': 141297,
    'Florida': 170312,
    'Illinois': 149995
}

In [14]:
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

Now that we have this along with the population Series from before, we can use a
dictionary to construct a single two-dimensional object containing this information:

In [15]:
states = pd.DataFrame({
    'population': population,
    'area': area
})
states

            population    area
California    38332521  423967
Florida       19552860  170312
Illinois      12882135  149995
New York      19651127  141297
Texas         26448193  695662

Like the Series object, the DataFrame has an **index** attribute that gives access to the index labels, and **values** attribute that give access to the NumPy array.

In [16]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [17]:
states.values

array([[38332521,   423967],
       [19552860,   170312],
       [12882135,   149995],
       [19651127,   141297],
       [26448193,   695662]])

Additionally, the DataFrame has a **columns** attribute, which is an Index object holding
the column labels:

In [18]:
states.columns

Index(['population', 'area'], dtype='object')

### DataFrame as specialised dictionary
Similarly, we can also think of a DataFrame as a specialization of a dictionary. Where a dictionary maps a key to a value, a DataFrame maps a column name to a Series of column data.  
For example, asking for the 'area' attribute returns the Series object containing the areas we saw earlier:

In [19]:
states['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

**Important note**  

Notice the potential point of confusion here: in a two-dimensional NumPy array,
**data[0]** will return the **first row**. For a DataFrame, **data['col0']** will return the **first
column**.   

Because of this, it is probably better to think about DataFrames as generalized
dictionaries rather than generalized arrays, though both ways of looking at the situation can be useful.

### Constructing DataFrame objects
A Pandas DataFrame can be constructed in a variety of ways. Here we’ll give several
examples.

1. From a single **Series** object:

In [20]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193

2. From a list of **dicts**:

In [21]:
data = [{ 'a': i, 'b': 2 * i } for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

Even if some keys in the dictionary are missing, Pandas will fill them in with NaN (i.e.,
“not a number”) values:

In [22]:
 pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

3. From a **dictionary of Series** object

In [23]:
pd.DataFrame({
    'population': population,
    'area': area
})

            population    area
California    38332521  423967
Florida       19552860  170312
Illinois      12882135  149995
New York      19651127  141297
Texas         26448193  695662

4. From a 2D **NumPy array**

In [24]:
pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'], index=['a', 'b', 'c'])

        foo       bar
a  0.410404  0.025308
b  0.812580  0.662827
c  0.899589  0.545343

5. From a **NumPy structured array**

In [25]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [26]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## The Pandas Index object
We have seen here that both the Series and DataFrame objects contain an explicit index that lets you reference and modify data.  

This Index object is an interesting structure in itself, and it can be thought of either as an **immutable array** or as an **ordered set** (technically a multiset, as Index objects may contain repeated values).

In [27]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

### Index as an immutable array

In [28]:
ind[1]

3

In [29]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [30]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

### Index as order set
Pandas objects are designed to facilitate operations such as joins across datasets, which depend on many aspects of set arithmetic.

The Index object follows many of the conventions used by Python’s built-in set data structure, so that unions, intersections, differences, and other combinations can be computed in a familiar way:

In [31]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [32]:
indA & indB # intersection

Int64Index([3, 5, 7], dtype='int64')

In [33]:
indA | indB # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [34]:
indA ^ indB # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

# Data indexing and selection
In Chapter 2, we looked in detail at methods and tools to access, set, and modify values in NumPy arrays. These included:
* indexing (e.g., arr[2, 1] )
* slicing (e.g., arr[:,1:5])
* masking (e.g., arr[arr > 0])
* fancy indexing (e.g., arr[0, [1, 5]])
* combinations thereof (e.g., arr[:, [1, 5]]).

Here we’ll look at similar means of accessing and modifying values in Pandas Series and DataFrame objects. If you have used the NumPy patterns, the corresponding patterns in Pandas will feel very familiar, though there are a few quirks to be aware of.

## Data selection in Series
As we saw in the previous section, a Series object acts in many ways like a one dimensional NumPy array, and in many ways like a standard Python dictionary.

### Series as dictionary

In [35]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

We can also use dictionary-like Python expressions and methods to examine the
keys/indices and values:

In [36]:
print('a' in data)
print(data.keys())
print(list(data.items()))

True
Index(['a', 'b', 'c', 'd'], dtype='object')
[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [37]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

### Series as 1D array
A Series builds on this dictionary-like interface and provides array-style item selection via the same basic mechanisms as NumPy arrays—that is, slices, masking, and fancy indexing. Examples of these are as follows:

In [38]:
# slicing by explicit index
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

### Indexers: loc, iloc

These slicing and indexing conventions can be a source of confusion. For example, if
your Series has an explicit integer index, an indexing operation such as data[1] will
use the explicit indices, while a slicing operation like data[1:3] will use the implicit
Python-style index.

In [45]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [46]:
# explicit index when indexing
data[1]

'a'

In [47]:
# implicit index when slicing
data[1:3]

3    b
5    c
dtype: object

The *loc* attribute allows indexing and slicing that always references the **explicit**
index:

In [48]:
data.loc[1]

'a'

The *iloc* attribute allows indexing and slicing that always references the **implicit**
Python-style index

In [49]:
data.iloc[1]

'b'

In [55]:
data.iloc[1:3]

3    b
5    c
dtype: object

## Data selection in DataFrame

In [58]:
area = pd.Series({'California': 423967, 'Texas': 695662,
'New York': 141297, 'Florida': 170312,
'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
'New York': 19651127, 'Florida': 19552860,
'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

The individual Series that make up the columns of the DataFrame can be accessed
via dictionary-style indexing of the column name:

In [59]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [61]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

### DataFrame as 2D array

As mentioned previously, we can also view the DataFrame as an enhanced two-
dimensional array.
We can examine the raw underlying data array using the values
attribute:

In [62]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

We can do many familiar array-like observations on the
DataFrame itself.

In [66]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

Pass a single index to an array accesses a row:

In [75]:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

Pass a single “index” to a DataFrame accesses a column:

In [69]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

Thus for array-style indexing, we need another convention. Here Pandas again uses
the *loc*, *iloc*, and *ix* indexers mentioned earlier.

Using the *iloc* indexer, we can index the underlying array as if it is a simple NumPy array (using the implicit
Python-style index), but the DataFrame index and column labels are maintained in
the result:

In [102]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [79]:
data.loc[:'New York', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

Combine masking and fancy indexing:

In [106]:
# Get rows with density greater than 100, and the columns 'pop' and 'density'
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

In [85]:
# Set density of California to 90
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

To build up your fluency in Pandas data manipulation, I suggest spending some time
with a simple DataFrame and exploring the types of **indexing**, **slicing**, **masking**, and
**fancy indexing** that are allowed by these various indexing approaches.

## Additional indexing conventions

There are a couple extra indexing conventions that might seem at odds with the preceding discussion, but nevertheless can be very useful in practice. 

First, indexing refers to **columns**, slicing refers to **rows**:

In [87]:
data['Florida':'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

Such slices can also refer to rows by number rather than by index

In [95]:
data[3:]

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

Similarly, direct masking operations are also interpreted row-wise rather than
column-wise:

In [111]:
data[data.density > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121

# Operating on data in Pandas