Pandas is a newer package built on top of NumPy, and provides an efficient implementation of a DataFrame. DataFrames are essentially multidimensional arrays with attached row and column labels, and often with heterogeneous types and/or missing data.


As we saw, NumPy’s ndarray data structure provides essential features for the type of clean, well-organized data typically seen in numerical computing tasks. While it serves this purpose very well, its limitations become clear when we need more flexibility (attaching labels to data, working with missing data, etc.).

Pandas, and in particular its **Series** and **DataFrame** objects, builds on the NumPy array structure and provides efficient access to these sorts of “data munging” tasks that occupy much of a data scientist’s time.

In [110]:
import numpy as np
import pandas as pd

# Introducing pandas object

Pandas objects can be thought of as enhanced versions of NumPy structured arrays in which the rows and columns are identified with **labels** rather than simple integer indices.

Let’s introduce these three fundamental Pandas data structures: the **Series**, **DataFrame**, and **Index**.

## The pandas Series object
A Pandas Series is a one-dimensional array of indexed data. It can be created from a
list or array as follows:

In [111]:
data = pd.Series([0.25, 0.5, 0.75, 1])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

The Series wraps both a sequence of values and a
sequence of indices, which we can access with the **values** and **index** attributes. The
values are simply a familiar NumPy array:

In [112]:
print(data.values, type(data.values))

[0.25 0.5  0.75 1.  ] <class 'numpy.ndarray'>

In [113]:
print(data.index, type(data.index))

RangeIndex(start=0, stop=4, step=1) <class 'pandas.core.indexes.range.RangeIndex'>

The index is an array-like object of type **pd.Index**, which we’ll discuss in more detail
momentarily:

### Series as generalised NumPy array

From what we’ve seen so far, it may look like the Series object is basically interchangeable with a one-dimensional NumPy array.

The essential difference is the presence of the index: while the NumPy array has an **implicitly defined integer index** used to access the values, the Pandas Series has an **explicitly defined index** associated with
the values.

This explicit index definition gives the Series object additional capabilities. For
example, the index **need not be an integer**, but can consist of values of any desired
type. For example, if we wish, we can use strings as an index:

In [114]:
data = pd.Series([0.25, 0.5, 0.75, 1], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [115]:
data['b']

0.5

### Series as specialised dictionary

Just as the type-specific compiled code behind a NumPy array
makes it more efficient than a Python list for certain operations, the type information
of a Pandas Series makes it much more efficient than Python dictionaries for certain
operations.

In [116]:
population_dict = {
    'California': 38332521,
    'Texas': 26448193,
    'New York': 19651127,
    'Florida': 19552860,
    'Illinois': 12882135
}
population = pd.Series(population_dict).sort_index()
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

Unlike a dictionary, though, the Series also supports array-style operations such as
slicing:

In [117]:
population['California':'Illinois']

California    38332521
Florida       19552860
Illinois      12882135
dtype: int64

### Constructing Series objects
**pd.Series(data, index=index)**

1. Data can be a list of **NumPy array**

In [118]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

Data can be a scalar, which is repeated to fill the specified index:

In [119]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

2. Data can be a **dictionary**

In [120]:
pd.Series({ 2: 'a', 1: 'b', 3: 'c' }).sort_index()

1    b
2    a
3    c
dtype: object

The index can be explicitly set if a different result is preferred:

In [121]:
pd.Series({ 2: 'a', 1: 'b', 3: 'c' }, index=[3, 2])

3    c
2    a
dtype: object

## The pandas DataFrame objects
Like the Series object discussed in the previous section, the DataFrame can be thought of either as a **generalization** of a NumPy array, or as a **specialization** of a Python dictionary. We’ll now
take a look at each of these perspectives.

### DataFrame as generalised NumPy array
If a Series is an analog of a one-dimensional array with flexible indices, a DataFrame
is an analog of a two-dimensional array with both **flexible row indices** and **flexible column names**

Just as you might think of a two-dimensional array as an ordered sequence of aligned one-dimensional columns, you can think of a DataFrame as a sequence of aligned Series objects. Here, by “aligned” we mean that they share the **same index**.

In [122]:
area_dict = {
    'California': 423967,
    'Texas': 695662,
    'New York': 141297,
    'Florida': 170312,
    'Illinois': 149995
}

In [123]:
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

Now that we have this along with the population Series from before, we can use a
dictionary to construct a single two-dimensional object containing this information:

In [124]:
states = pd.DataFrame({
    'population': population,
    'area': area
})
states

            population    area
California    38332521  423967
Florida       19552860  170312
Illinois      12882135  149995
New York      19651127  141297
Texas         26448193  695662

Like the Series object, the DataFrame has an **index** attribute that gives access to the index labels, and **values** attribute that give access to the NumPy array.

In [125]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [126]:
states.values

array([[38332521,   423967],
       [19552860,   170312],
       [12882135,   149995],
       [19651127,   141297],
       [26448193,   695662]])

Additionally, the DataFrame has a **columns** attribute, which is an Index object holding
the column labels:

In [127]:
states.columns

Index(['population', 'area'], dtype='object')

### DataFrame as specialised dictionary
Similarly, we can also think of a DataFrame as a specialization of a dictionary. Where a dictionary maps a key to a value, a DataFrame maps a column name to a Series of column data.  
For example, asking for the 'area' attribute returns the Series object containing the areas we saw earlier:

In [128]:
states['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

**Important note**  

Notice the potential point of confusion here: in a two-dimensional NumPy array,
**data[0]** will return the **first row**. For a DataFrame, **data['col0']** will return the **first
column**.   
Because of this, it is probably better to think about DataFrames as generalized
dictionaries rather than generalized arrays, though both ways of looking at the situation can be useful.

### Constructing DataFrame objects
A Pandas DataFrame can be constructed in a variety of ways. Here we’ll give several
examples.

1. From a single **Series** object:

In [131]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193

2. From a list of **dicts**:

In [135]:
data = [{ 'a': i, 'b': 2 * i } for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

Even if some keys in the dictionary are missing, Pandas will fill them in with NaN (i.e.,
“not a number”) values:

In [136]:
 pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

3. From a **dictionary of Series** object

In [141]:
pd.DataFrame({
    'population': population,
    'area': area
})

            population    area
California    38332521  423967
Florida       19552860  170312
Illinois      12882135  149995
New York      19651127  141297
Texas         26448193  695662

4. From a 2D **NumPy array**

In [139]:
pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'], index=['a', 'b', 'c'])

        foo       bar
a  0.007371  0.182976
b  0.674485  0.635343
c  0.528062  0.990320

5. From a **NumPy structured array**

In [142]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [143]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## The Pandas Index object